/* fonts */
header {
  font-family: "Monoton", sans-serif;
}
/*Font Shadow */
body {
  text-shadow: black 2px 2px;
}
h1 {
  font-weight: 400;
}

/* center align content */
h1,
p,
img,
main {
  margin: auto;
}
main {
  text-align: center;
}

/* Main Grid */
main {
  display: grid;
  grid-template-rows: auto 1fr;
  /*fr is good for breaking up less open space into fractions
  auto give this thing as much space as it needs
  */
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "people";
  gap: 1em;
}
/*Assign grid areas*/
header {
  grid-area: title;
}
section[total] {
  align-self: center;
  grid-area: total;
  padding: 2em;
}

section[people] {
  grid-area: people;
}

/*Image size and setting*/
img {
  content: url("./sun.png");
  width: 1em;
  height: 1em;
  display: inline;
}

/*Background Color*/
body {
  background: rgb(89, 89, 7);
  background: linear-gradient(
    140deg,
    rgba(89, 89, 7, 1) 0%,
    rgba(31, 44, 57, 1) 100%
  );
}

/*Animation bounce*/
img {
  animation: var(--animation-bounce);
}
