/* fonts */
header {
  font-family: "Monoton", sans-serif;
}
/*Font Shadow */
body {
  text-shadow: black 2px 2px;
}
h1 {
  font-weight: 400;
}

/* center align content */
h1,
p,
img,
main {
  margin: auto;
}
main {
  text-align: center;
}

/* Main Grid */
main {
  display: grid;
  grid-template-rows: 5em 15em auto;
  grid-template-columns: 15px 1fr 15px;
  grid-template-areas:
    ". title  ."
    ". people .";
  gap: 1em;
}
/*Assign grid areas*/
header {
  grid-area: title;
}
section[total] {
  align-self: center;
  grid-area: total;
  padding: 2em;
}

section[people] {
  grid-area: people;
}

/*Image size and setting*/
img {
  content: url("./sun.png");
  width: 1em;
  height: 1em;
  display: inline;
}

/*Circle around the body*/
body {
  background-color: var(--gray-8);
}
