/* fonts */
header {
	font-family: 'Monoton', sans-serif;
}
/*Font Shadow */
body
{
  text-shadow: black 2px 2px ;
}

/* center align content */
h1,
p,
img,
main {
  margin: auto;
}
main {
  text-align: center;
}

/* Main Grid */
main {
  display: grid;
  height: 100vh;
  grid-template-rows: 5em 15em 5em auto;
  grid-template-columns: 15px 1fr 15px;
  grid-template-areas:
    ". title  ."
    ". sun ."
    ". total  ."
    ". people .";
  gap: 1em;
}
/*Assign grid areas*/
header {
  grid-area: title;
}
section[total] {
  align-self: center;
  grid-area: total;
  padding: 2em;
}
img
{
  grid-area: sun;
}

section[people] {
  grid-area: people;
}

/*Image size and setting*/
img {
	content: url('./sun.png');
	width: 256;
	height: 256;
}

/*Circle around the body*/
body
{
  background-color: var(--gray-8);
}